.table
{
	color: #fff;
}

.table tr td:last-child
{
	max-width: 120px;
}

.table td
{
	border: 0;
	line-height: 2.3rem;
}

.table tbody tr:nth-child(odd) td
{
	background: rgba(255,255,255,0.05);
}

.form-control
{
	border-radius: 0;
	border: 0;
	text-align: right;
	background: transparent;
	border: 2px solid rgba(255,255,255,0.2);
	color: #fff;
}